<layout name="Layout/dialog_layout"  replace="{__CONTENT__}" />

<body style="width: 400px;height: 250px;">
<form class="J_validateForm J_ajaxForm" data-role="list" action="{:U('permission/do_add')}" method="post">
    <div class="pop_cont pop_table" style="height:auto;">
        <table width="100%">
            <tr>
                <th>权限名称</th>
                <td>
                    <input type="text" name="name" class="input length_4" value="">
                </td>
            </tr>
            <tr>
                <th>权限编码</th>
                <td>
                    <input type="text" name="code" class="input length_4" value="">
                </td>
            </tr>
            <tr>
                <th>权限状态</th>
                <td>
                    {$permission.status|\\Common\\Util\\EnumTemplate::enumSelect='PermissionStatus',false,'status','select'}
                </td>
            </tr>
            <tr>
                <th>权限模块</th>
                <td>
                    <select name="module" class="select_4">
                        <foreach name="modules" item="item" key="key">
                            <option value="{$item}">{$key}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="pop_bottom">
        <button type="button" class="btn fr" id="J_dialog_close">取消</button>
        <button type="submit" class="btn btn_submit mr10 fr J_ajax_submit_btn J_validate_btn">提交</button>
    </div>
</form>
</body>
