<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy;杭州星轨网络科技有限公司<span>|</span><a href="#" >法律条款</a>
      <p>浙ICP备16035922号-1</p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="__JS__/jquery.isotope.min.js"></script>
<script type="text/javascript" src="__JS__/owl.carousel.js"></script>
<script type="text/javascript" src="__JS__/main.js"></script>
</body>
</html>