<layout name="Layout/dialog_layout"  replace="{__CONTENT__}" />

<body>
<div class="wrap">
    <div class="nav">
        <div class="form_title">
            <span>用户详情</span>
        </div>
    </div>
    <div class="table_full">
        <table width="100%">
            <tr>
                <col width="20%"/>
                <col width="80%"/>
            </tr>
            <tr>
				<th>用户ID<!--用户ID--></th>
				<td>
                    {$user.userID}
                </td>
			</tr>
            <tr>
                <th>用户昵称<!--用户昵称--></th>
                <td>
                    {$user.userName}
                </td>
            </tr>
            <tr>
                <th>用户头像<!--用户头像--></th>
                <td>
                    <if condition="$user['userHead']">
                        <img src="__IMAGE__/{$user.userHead}" style="border-radius: 50%;width: 50px;height: 50px;margin: 10px 0px;border:1px solid #ccc;">
                        <else/>
                        <img src="__IMG__/default-user.jpg" style="border-radius: 50%;width: 50px;height: 50px;margin: 10px 0px;border:1px solid #ccc;">
                    </if>
                </td>
            </tr>
            <tr>
                <th>用户手机号<!--用户手机号--></th>
                <td>
                    {$user.userPhone}
                </td>
            </tr>
            <tr>
                <th>用户金币<!--用户金币--></th>
                <td>
                    {$user.userMoney}
                </td>
            </tr>
            <tr>
                <th>用户钻石<!--用户钻石--></th>
                <td>
                    {$user.userDiamond}
                </td>
            </tr>
            <tr>
                <th>用户等级<!--用户等级--></th>
                <td>
                    {$user.userLV}
                </td>
            </tr>
            <tr>
                <th>用户现有经验<!--用户现有经验--></th>
                <td>
                    {$user.userExp}
                </td>
            </tr>
            <tr>
                <th>用户称号<!--用户称号--></th>
                <td>
                    {$user.userGlory}
                </td>
            </tr>
            <tr>
                <th>用户点赞数<!--用户点赞数--></th>
                <td>
                    {$user.userZan}
                </td>
            </tr>
            <tr>
                <th>用户个性签名<!--用户个性签名--></th>
                <td>
                    {$user.userSign}
                </td>
            </tr>
            <tr>
				<th>注册时间<!--注册时间--></th>
				<td>
                    {$user.registerTime}
                </td>
			</tr>
        </table>
    </div>
    <div class="pop_bottom">
        <a type="submit" class="btn" href="javascript:history.go(-1)" title="返回&quot;" role="button">返回</a>
    </div>
</div>
</body>
