<layout name="Layout/dialog_layout"  replace="{__CONTENT__}" />

<body>
<div class="wrap">
    <div class="nav">
        <div class="form_title">
            <span>编辑用户</span>
        </div>
    </div>
    <form class="J_validateForm J_ajaxForm" data-role="list" action="{:U('user/do_edit')}" method="post">
        <input type="hidden" name="id" value="{$user.userID}" />
        <div class="table_full">
            <table width="100%">
                <tr>
                    <col width="20%"/>
                    <col width="80%"/>
                </tr>
                <tr>
                    <th>用户ID<!--用户ID--></th>
                    <td>
                        <input type="text" name="userID" class="input length_3" value="{$user.userID}">
                    </td>
                </tr>
                <tr>
                    <th>用户密码<!--用户密码--></th>
                    <td>
                        <input type="password" name="userPassword" class="input length_3" value="">
                    </td>
                </tr>
                <tr>
                    <th>用户昵称<!--用户昵称--></th>
                    <td>
                        <input type="text" name="userName" class="input length_3" value="{$user.userName}">
                    </td>
                </tr>
                <tr>
                    <th>用户手机号<!--用户手机号--></th>
                    <td>
                        <input type="text" name="userPhone" class="input length_3" value="{$user.userPhone}">
                    </td>
                </tr>
                <tr>
                    <th>用户金币<!--用户金币--></th>
                    <td>
                        <input type="text" name="userMoney" class="input length_3" value="{$user.userMoney}">
                    </td>
                </tr>
                <tr>
                    <th>用户钻石<!--用户钻石--></th>
                    <td>
                        <input type="text" name="userDiamond" class="input length_3" value="{$user.userDiamond}">
                    </td>
                </tr>

            </table>
        </div>
        <div class="pop_bottom">
            <button type="submit" class="btn btn_submit mr10 J_ajax_submit_btn J_validate_btn">提交</button>
        </div>
    </form>
</div>
</body>
