<layout name="Layout/dialog_layout"  replace="{__CONTENT__}" />

<body>
<div class="wrap">
    <div class="nav">
        <div class="form_title">
            <span>动态详情</span>
        </div>
    </div>
    <div class="table_full">
        <table width="100%">
            <tr>
                <col width="20%"/>
                <col width="80%"/>
            </tr>
            <tr>
				<th>发布用户ID<!--发布用户ID--></th>
				<td>
                    {$article.userID}
                </td>
			</tr>
            <tr>
                <th>发布用户名<!--发布用户名--></th>
                <td>
                    {$article.userName}
                </td>
            </tr>
            <tr>
                <th>动态图片<!--动态图片--></th>
                <td>
                    <if condition="$article['sayImage']">
                        <img src="__SAY__/{$article.sayImage}" style="max-width:120px;margin: 10px 0px;border:1px solid #ccc;">
                        <else/>
                        <img src="__IMG__/default-user.jpg" style="border-radius: 50%;width: 50px;height: 50px;margin: 10px 0px;border:1px solid #ccc;">
                    </if>
                </td>
            </tr>
            <tr>
                <th>动态内容<!--动态内容--></th>
                <td>
                    {$article.sayText}
                </td>
            </tr>
            <tr>
				<th>发布时间<!--发布时间--></th>
				<td>
                    {$article.sayTime}
                </td>
			</tr>
        </table>
    </div>

    <div class="h_b">评论管理</div>
    <div class="table_full">
        <div class="search_type cc">
            <form action="{:U('detail',array('sayID' => $article['sayID']))}" method="get">
                <ul>
                    <li><label>评论用户<!--评论用户--></label><input name="userName" type="text" class="input mr10 length_2" value="{$params.userName}"></li>
                    <li><button type="submit" class="btn btn_submit mr20">搜索</button><button type="button" class="btn btn_reset ">重置</button></li>
                </ul>
            </form>
        </div>
        <table width="100%">
            <thead>
            <tr>
                <th width="10%">评论ID</th>
                <th width="15%">评论用户<!--评论用户--></th>
                <th width="25%">评论内容<!--评论内容--></th>
                <th width="10%">评论时间<!--评论时间--></th>
                <th width="15%">操作</th>
            </tr>
            </thead>

            <tbody>
            <foreach name="list" item="comment" >
                <tr>
                    <td align="center">{$comment.number}</td>
                    <td align="center">{$comment.userName}</td>
                    <td align="center">{$comment.sayMessage}</td>
                    <td align="center">{$comment.textTime}</td>
                    <td align="center">
                        <a href="{:U('do_del_comment',array('number'=>$comment['number']))}" class="tablelink J_ajax_del" title="删除评论" data-msg="确定要删除评论吗？"> [删除]</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>
    <div <if condition="isset($list) && count($list) gt 0">style="min-height: 40px;"</if>>
        <include file="Public:page" action="detail"/>
    </div>

    <div class="pop_bottom">
        <a type="submit" class="btn" href="javascript:history.go(-1)" title="返回&quot;" role="button">返回</a>
    </div>
</div>
</body>
