<layout name="Layout/dialog_layout"  replace="{__CONTENT__}" />

<body>
<div class="wrap">
    <div class="nav">
        <div class="form_title">
            <span>换装详情</span>
        </div>
    </div>
    <div class="table_full">
        <table width="100%">
            <tr>
                <col width="20%"/>
                <col width="80%"/>
            </tr>
            <tr>
				<th>衣服ID<!--衣服ID--></th>
				<td>
                    {$clothes.clothesID}
                </td>
			</tr>
            <tr>
                <th>衣服名称<!--衣服名称--></th>
                <td>
                    {$clothes.clothesName}
                </td>
            </tr>
            <tr>
				<th>衣服图片（右侧列表）<!--衣服图片--></th>
				<td>
                    <if condition="$clothes['clothesMarket'] && $clothes['clothesMarket'] neq 123">
                        <img src="__MARKET__/{$clothes.clothesMarket}" style="margin: 10px 0px;border:1px solid #ccc;">
                    <else/>
                        无
                    </if>
                </td>
			</tr>
            <tr>
                <th>衣服图片（商品列表）<!--衣服图片--></th>
                <td>
                    <if condition="$clothes['clothesNormal'] && $clothes['clothesNormal'] neq 123">
                        <img src="__MARKET__/{$clothes.clothesNormal}" style="margin: 10px 0px;border:1px solid #ccc;">
                    <else/>
                        无
                    </if>
                </td>
            </tr>
            <tr>
                <th>后面图片（换装人物）<!--后面图片--></th>
                <td>
                    <if condition="$clothes['clothesAfter'] && $clothes['clothesAfter'] neq 123">
                        <img src="__MARKET__/{$clothes.clothesAfter}" style="margin: 10px 0px;border:1px solid #ccc;">
                    <else/>
                        无
                    </if>
                </td>
            </tr>
            <tr>
                <th>前面图片（换装人物）<!--前面图片--></th>
                <td>
                    <if condition="$clothes['clothesBefore'] && $clothes['clothesBefore'] neq 123">
                        <img src="__MARKET__/{$clothes.clothesBefore}" style="margin: 10px 0px;border:1px solid #ccc;">
                    <else/>
                        无
                    </if>
                </td>
            </tr>
            <tr>
                <th>中间图片（换装人物）<!--中间图片--></th>
                <td>
                    <if condition="$clothes['clothesCenter'] && $clothes['clothesCenter'] neq 123">
                        <img src="__MARKET__/{$clothes.clothesCenter}" style="margin: 10px 0px;border:1px solid #ccc;">
                    <else/>
                        无
                    </if>
                </td>
            </tr>
            <tr>
                <th>物品方位<!--物品方位--></th>
                <td>
                    {$clothes.clothesPosition|\\Common\\Util\\EnumTemplate::getEnumDesc='Position'}
                </td>
            </tr>
            <tr>
                <th>金币数<!--金币数--></th>
                <td>
                    {$clothes.clothesMoney}
                </td>
            </tr>
            <tr>
                <th>钻石数<!--钻石数--></th>
                <td>
                    {$clothes.clothesDiamond}
                </td>
            </tr>
            <tr>
                <th>成就点<!--成就点--></th>
                <td>
                    {$clothes.achivePoint}
                </td>
            </tr>
            <tr>
                <th>所属类型<!--所属类型--></th>
                <td>
                    {$clothes.clothesParts}
                </td>
            </tr>
            <tr>
                <th>衣服描述<!--衣服描述--></th>
                <td>
                    {$clothes.clothesDescripe}
                </td>
            </tr>
            <tr>
                <th>衣服星级<!--衣服星级--></th>
                <td>
                    {$clothes.clothesImportant}
                </td>
            </tr>
        </table>
    </div>
    <div class="pop_bottom">
        <a type="submit" class="btn" href="javascript:history.go(-1)" title="返回&quot;" role="button">返回</a>
    </div>
</div>
</body>
