<layout name="Layout/layout"  replace="{__CONTENT__}" />

<div id="inner-page">
  <div class="container">
    <div class="about-us">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img src="__IMG__/pic1.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic2.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic3.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic4.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic5.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic6.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic7.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic8.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic9.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic10.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic11.jpg" class="img-responsive" alt=""/>
          <img src="__IMG__/pic12.jpg" class="img-responsive" alt=""/>
        </div>
      </div>
      <!--{$about|html_entity_decode=###}-->
    </div>
  </div>
</div>

